html {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  font-size: 16px;
}

h5 {
  font-size: 1.435rem !important;
  line-height: 110%;
  margin-top: 1rem !important;
  margin-bottom: 0.75rem !important;
  color: #005790;
}

h6 {
  color: #2196f3 !important;
  font-size: 0.875rem !important;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0 !important;
}
